:root {
    --brandPink: #E10098;
    --brandBlack: #222223;
    --brandGreen: #1DE000;
    --brandWhite: #D7D7DE;

    --brandPinkRGB: 225, 0, 152;
    --brandBlackRGB: 34, 34, 35;
    --brandGreenRGB: 29, 224, 0;
    --brandWhiteRGB: 215, 215, 222;

    --mainBackground: #171718;
    --blackBackground: #2B2B2D;
    --menuBackground: #363638;

    --headerHeight: min(8vw, 6vh);
    --fontSize: calc(var(--headerHeight) * 0.7 + 1rem);
}

@font-face {
    font-family: 'Cascadia Mono';
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url('CascadiaMono.woff2') format('woff2');
}

body {
    background-color: var(--mainBackground);
    font-family: 'Noto Sans', Verdana, sans-serif;
    margin: 0;
    color: var(--brandWhite);
    margin-top: var(--headerHeight);
    font-size: calc(var(--fontSize) * 0.4);
}

a {
    color: var(--brandGreen);
    text-decoration: inherit;
}

#menuLinks > a, #header a {
    color: inherit;
}

h1 {
    font-size: var(--fontSize);
}

h2 {
    font-size: calc(var(--fontSize) * 0.8);
}

h3 {
    font-size: calc(var(--fontSize) * 0.6);
}

.center {
    text-align: center;
}

h1, h2, h3, .nopad {
    padding: 0 !important;
}

h1, h2, h3, .nomargin {
    margin: 0 !important;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}


#header {
    position: fixed;
    top: 0;
    height: var(--headerHeight);
    width: 100%;
    background-color: var(--brandBlack);
    border-bottom: calc(var(--headerHeight) * 0.05) solid var(--brandPink);
    display: grid;
    grid-template-columns: max-content max-content max-content max-content auto max-content;
    z-index: 2;
    overflow: hidden;
}

#headerLogo {
    grid-column: 1;
    display: grid;
}

.logo {
    position: relative;
    height: var(--headerHeight);
    width: var(--headerHeight);
    grid-column: 1;
}

.logoCenter, .logoLeft, .logoRight {
    position: absolute;
    margin: 12.5%;
    width: 75%;
    height: 75%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1.75);
}

.logoCenter {
    clip-path: polygon(50% 88%, 50% 100%, 77% 85%, 77% 54%, 50% 0%, 23% 54%, 23% 85%, 50% 100%, 50% 88%, 33% 79%, 33% 60%, 50% 50%, 50% 38%, 39% 45%, 50% 23%, 61% 45%, 50% 38%, 50% 50%, 67% 60%, 67% 79%);
    background: var(--brandPink);
}

.logoLeft, .logoRight {
    background: var(--brandWhite);
}

.logoLeft {
    clip-path: polygon(16% 80%, 16% 73%, 13% 71%, 13% 54%, 6% 50%, 13% 45%, 13% 28%, 35% 15%, 39% 6%, 7% 24%, 7% 42%, 0% 46%, 0% 53%, 7% 58%, 7% 75%);
}

.logoRight {
    clip-path: polygon(84% 80%, 84% 73%, 87% 71%, 87% 54%, 94% 50%, 87% 45%, 87% 28%, 65% 15%, 61% 6%, 93% 24%, 93% 42%, 100% 46%, 100% 53%, 93% 58%, 93% 75%);
}

#headerLogo:hover .logoCenter, #headerLogo:active .logoCenter {
    transform: scale(1.1);
}

#headerLogo:hover .logoLeft, #headerLogo:active .logoLeft {
    transform: translateX(-15%);
}

#headerLogo:hover .logoRight, #headerLogo:active .logoRight {
    transform: translateX(15%);
}

#headerLogo h1 {
    padding: 0;
    margin: 0;
    grid-column: 2;
    font-family: 'Cascadia Mono', Consolas, 'Courier New', monospace;
    font-weight: normal;
    line-height: var(--headerHeight);
    font-size: calc(var(--headerHeight) * 0.67);
}

#header > .divider {
    height: 100%;
    width: calc(var(--headerHeight) * 0.577 + calc(var(--headerHeight) * 0.1));
    grid-column: 3;
    overflow: visible;
}

#header > .divider > line {
    stroke: var(--brandPink);
    stroke-width: calc(var(--headerHeight) * 0.1);
}

#currentPage {
    background: var(--brandPink);
    height: calc(var(--headerHeight) * 0.67);
    line-height: calc(var(--headerHeight) * 0.67);
    clip-path: polygon(0% 100%, calc(100% - var(--headerHeight) * 0.67 * 0.577) 100%, 100% 0%, calc(var(--headerHeight) * 0.67 * 0.577) 0%);
    padding: 0 calc(var(--headerHeight) * 0.5);
    font-size: calc(var(--headerHeight) * 0.5);
    margin: calc(var(--headerHeight) * 0.167) 0;
    font-weight: bold;
}

#menuButton {
    position: relative;
    width: calc(var(--headerHeight) * 0.67);
    height: calc(var(--headerHeight) * 0.67);
    margin: calc(var(--headerHeight) * 0.167);
}

#menuButton::before {
    z-index: 30;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--brandWhite);
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 20%, 0% 40%, 100% 40%, 100% 60%, 0% 60%, 0% 80%, 100% 80%, 100% 100%, 0% 100%);
}

#menuButton::after {
    z-index: 30;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#menu {
    position: fixed;
    height: 100vh;
    z-index: 20;
    border-left: calc(var(--headerHeight) * 0.05) solid var(--brandPink);
    background: var(--menuBackground);
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    cursor: auto;
}

#body > div::before, #menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("hexapattern.png");
    background-repeat: repeat;
    background-position-x: center;
    background-size: calc(var(--headerHeight) * 1.33);
    -webkit-mask-image: linear-gradient(180deg, transparent 0%, black 100%);
    mask-image: linear-gradient(180deg, transparent 0%, black 100%);
    opacity: 0.15;
    pointer-events: none;
}

#body > div::after, #menu::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("hexagloss.png");
    background-repeat: repeat;
    background-position-x: center;
    background-size: calc(var(--headerHeight) * 1.33);
    -webkit-mask-size: auto 1500%;
    mask-size: auto 15  00%;
    -webkit-mask-image: linear-gradient(165deg, transparent 47.5%, black 50%, transparent 52.5%);
    mask-image: linear-gradient(165deg, transparent 47.5%, black 50%, transparent 52.5%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-animation: gloss 15s linear infinite;
    animation: gloss 15s linear infinite;
    opacity: 0.25;
    pointer-events: none;
}

@-webkit-keyframes gloss {
    0% {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
        opacity: 0.25;
    }
    75% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
        opacity: 0;
    }
    100% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
        opacity: 0;
    }
}

@keyframes gloss {
    0% {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
        opacity: 0.25;
    }
    75% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
        opacity: 0;
    }
    100% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
        opacity: 0;
    }
}

#menuButton:hover #menu, #menu:hover, #menuButton:active #menu, #menu:active {
    transform: translateX(0%);
}

#menuLinks {
    display: grid;
    padding: var(--headerHeight) calc(var(--headerHeight) * 1.5);
    padding-right: 0;
}

#menuLinks > * {
    z-index: 25;
    grid-column: 1;
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, calc(var(--headerHeight) * 0.577) 0%);
    padding: 0 calc(var(--headerHeight) * 0.5);
    font-size: calc(var(--fontSize) * 0.5);
    margin: calc(var(--headerHeight) * 0.167) 0;
    margin-right: calc(var(--headerHeight) * -1);
    padding-right: calc(var(--headerHeight) * 1.5);
    transition: background-color 0.5s, transform 0.5s;
    cursor: pointer;
}

#menuLinks > *:hover, #menuLinks > *:active {
    transform: translateX(calc(var(--headerHeight) * -0.5));
    background-color: rgba(var(--brandPinkRGB), 0.5);
}

.currentLink {
    background: var(--brandPink);
    font-weight: bold;
    transform: translateX(calc(var(--headerHeight) * -1)) !important;
    background-color: var(--brandPink) !important;
}

#body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--headerHeight);
    
    width: min(calc(100vw - var(--headerHeight)), 150vh);
    margin: auto;
    padding: var(--headerHeight) calc(var(--headerHeight) / 4);
    max-width: 70vmax;
}

#body > * {
    min-width: min(90vw, 50vh);
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    background-color: var(--blackBackground);
}

#body > * > div {
    position: relative;
    max-width: calc(100% - var(--headerHeight) * 2);
    z-index: 1;
    padding: calc(var(--headerHeight) * 0.5) var(--headerHeight);
}

#body > .wide {
    flex-basis: 100% !important;
}

.links {
    min-width: max-content !important;
    padding: calc(var(--headerHeight) / 10);
    text-align: center;
}

@-webkit-keyframes beat {
    0%
    {
        box-shadow: 0 0 0 0 rgba(var(--brandPinkRGB), 0.5), 0 0 0 0 rgba(var(--brandPinkRGB), 0.5);
    }
    33%
    {
        box-shadow: 0 0 0 calc(var(--headerHeight) * 0.167) rgba(var(--brandPinkRGB), 0.33), 0 0 0 0 rgba(var(--brandPinkRGB), 0.5);
    }
    100% {
        box-shadow: 0 0 0 calc(var(--headerHeight) * 0.5) rgba(var(--brandPinkRGB), 0), 0 0 0 calc(var(--headerHeight) * 0.5) rgba(var(--brandPinkRGB), 0);
    }
}

@keyframes beat {
    0%
    {
        box-shadow: 0 0 0 0 rgba(var(--brandPinkRGB), 0.5), 0 0 0 0 rgba(var(--brandPinkRGB), 0.5);
    }
    33%
    {
        box-shadow: 0 0 0 calc(var(--headerHeight) * 0.167) rgba(var(--brandPinkRGB), 0.33), 0 0 0 0 rgba(var(--brandPinkRGB), 0.5);
    }
    100% {
        box-shadow: 0 0 0 calc(var(--headerHeight) * 0.5) rgba(var(--brandPinkRGB), 0), 0 0 0 calc(var(--headerHeight) * 0.5) rgba(var(--brandPinkRGB), 0);
    }
}

#veins {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    opacity: 0;
}

#veins.load {
    -webkit-animation: fadeIn 0.5s ease-out 0.25s 1 forwards;
    animation: fadeIn 0.5s ease-out 0.25s 1 forwards;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#veins > line {
    stroke-width: calc(var(--headerHeight) * 0.1);
    stroke: var(--brandPink);
}

@-webkit-keyframes veinBeat {
    from
    {
        stroke-width: calc(var(--headerHeight) * 0.1);
        stroke: rgba(var(--brandPinkRGB), 0.5);
    }
    to {
        stroke-width: calc(var(--headerHeight) * 0.5);
        stroke: rgba(var(--brandPinkRGB), 0) ;
    }
}

@keyframes veinBeat {
    from
    {
        stroke-width: calc(var(--headerHeight) * 0.1);
        stroke: rgba(var(--brandPinkRGB), 0.5);
    }
    to {
        stroke-width: calc(var(--headerHeight) * 0.5);
        stroke: rgba(var(--brandPinkRGB), 0) ;
    }
}

.beat, #body > *, #veins > line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.beatPlay {
    -webkit-animation-name: beat;
    animation-name: beat;
}

#veins > line.beatPlay {
    -webkit-animation-name: veinBeat !important;
    animation-name: veinBeat !important;
}

.pulseVein {
    -webkit-animation-duration: 0.67s !important;
    animation-duration: 0.67s !important;
    -webkit-animation-delay: 0.33s !important;
    animation-delay: 0.33s !important;
}

.commStatus {
    color: var(--brandPink);
    font-size: var(--fontSize);
    padding: 0;
    margin: 0;
}

.centerV {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex, .pricing {
    display: flex;
    gap: calc(var(--fontSize) * 0.5);
    flex-wrap: wrap;
}

.pricing {
    gap: var(--headerHeight) !important;
    text-align: center;
}

.prices {
    font-weight: bold;
    color: var(--brandPink);
}

.flex > *, .pricing > * {
    flex-grow: 1;
}

mark {
    background-color: transparent;
    font-weight: bold;
    color: var(--brandPink);
}

small {
    font-size: calc(var(--headerHeight) * 0.3);
    color: rgba(var(--brandWhiteRGB), 0.69);
}

.credit {
    position: absolute;
    bottom: 0;
    right: calc(var(--headerHeight) * 0.5);
}

ul.addons > li::marker {
    content: "+ ";
    color: var(--brandPink);
}

ul > li::marker {
    color: rgba(var(--brandWhiteRGB), 0.5);
}

ul > li::marker {
    content: "⬢ ";
}

ul > ul > li::marker {
    content: "⬡ ";
}

.centerDiv {
    position: relative;
    margin: auto;
    width: max-content;
}

img {
    max-width: 80vw;
}

#booLogo {
    max-height: calc(var(--headerHeight) * 3.5);
    max-width: 30vw;
}

#booSection {
    display: grid;
    grid-template-columns: min-content auto;
    gap: var(--headerHeight);
}

#booSection > a {
    grid-column: 1;
    margin: auto;
}

#booSection > span {
    grid-column: 2;
}