:root {
    --brandRed: #CE0058;
    --brandRedGlow: #F60092;
    --brandBlack: #222223;
    --brandBlackGlow: #3F3F41;
    --brandBlue: #00B5E2;
    --brandBlueGlow: #00EAFC;
    --brandWhite: #D7D7DE;
    --brandWhiteGlow: #F9F9FB;

    --brandRedRGB: 206, 0, 88;
    --brandRedGlowRGB: 246, 0, 146;
    --brandBlackRGB: 34, 34, 35;
    --brandBlackGlowRGB: 34, 34, 35;
    --brandBlueRGB: 0, 181, 226;
    --brandBlueGlowRGB: 0, 181, 226;
    --brandWhiteRGB: 215, 215, 222;

    --mainBackground: #171718;
    --blackBackground: #2B2B2D;
    --menuBackground: #363638;

    --headerHeight: min(8vw, 6vh);
    --fontSize: calc(var(--headerHeight) * 0.7 + 1rem);
}

@font-face {
    font-family: 'Cascadia Mono';
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url('CascadiaMono.woff2') format('woff2');
}

.red {
    color: var(--brandRed) !important;
}

.blue {
    color: var(--brandBlue) !important;
}

body {
    background-color: var(--mainBackground);
    font-family: 'Noto Sans', Verdana, sans-serif;
    margin: 0;
    color: var(--brandWhite);
    margin-top: var(--headerHeight);
    font-size: calc(var(--fontSize) * 0.4);
}

a {
    color: var(--brandBlue);
    text-decoration: inherit;
}

#menuLinks > a, #header a {
    color: inherit;
}

h1 {
    font-size: var(--fontSize);
}

h2 {
    font-size: calc(var(--fontSize) * 0.8);
}

h3 {
    font-size: calc(var(--fontSize) * 0.6);
}

.center {
    text-align: center;
}

h1, h2, h3, .nopad {
    padding: 0 !important;
}

h1, h2, h3, .nomargin {
    margin: 0 !important;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}


#header {
    position: fixed;
    top: 0;
    height: var(--headerHeight);
    width: 100%;
    background-color: var(--brandBlack);
    border-bottom: calc(var(--headerHeight) * 0.05) solid var(--brandBlue);
    display: grid;
    grid-template-columns: max-content max-content max-content max-content auto max-content;
    z-index: 2;
    overflow: hidden;
}

#headerLogo {
    grid-column: 1;
    display: grid;
}

.logo {
    position: relative;
    height: var(--headerHeight);
    width: var(--headerHeight);
    grid-column: 1;
}

.logoCenter, .logoLeft, .logoRight {
    position: absolute;
    margin: 12.5%;
    width: 75%;
    height: 75%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1.75);
}

.logoCenter {
    font-family: 'Cascadia Mono', Consolas, 'Courier New', monospace;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--headerHeight) * 0.69);
    color: var(--brandWhite);
    background: linear-gradient(0deg, var(--brandWhiteGlow) 15%, var(--brandWhite) 85%);
    background-clip: text;
}

.logoLeft {
    clip-path: polygon(0% 46.5%, 6.3% 42.8%, 6.3% 25.5%, 32.8% 10.1%, 21.5% 23.8%, 12.5% 29%, 12.5% 46.3%, 6.2% 50%, 12.5% 53.6%, 12.5% 71%, 21.3% 76.1%, 32.9% 90%, 6.3% 74.5%, 6.3% 57.2%, 0% 52.3%);
    background: var(--brandBlue);
    background: linear-gradient(0deg, var(--brandBlueGlow) 10%, var(--brandBlue) 90%);
}

.logoRight {
    clip-path: polygon(100% 54.5%, 93.7% 57.2%, 93.7% 74.5%, 67.2% 89.9%, 78.5% 76.2%, 87.5% 71%, 87.5% 53.7%, 93.8% 50%, 87.5% 46.4%, 87.5% 29%, 78.7% 23.9%, 67.1% 10%, 93.7% 25.5%, 93.7% 42.8%, 100% 47.7%);
    background: var(--brandRed);
    background: linear-gradient(0deg, var(--brandRedGlow) 10%, var(--brandRed) 90%);
}

#headerLogo:hover .logoCenter, #headerLogo:active .logoCenter {
    transform: scale(1.1);
}

#headerLogo:hover .logoLeft, #headerLogo:active .logoLeft {
    transform: translateX(-15%);
}

#headerLogo:hover .logoRight, #headerLogo:active .logoRight {
    transform: translateX(15%);
}

#headerLogo h1 {
    padding: 0;
    margin: 0;
    grid-column: 2;
    font-family: 'Cascadia Mono', Consolas, 'Courier New', monospace;
    font-weight: normal;
    line-height: var(--headerHeight);
    font-size: calc(var(--headerHeight) * 0.67);
}

#header > .divider {
    height: var(--headerHeight);
    width: calc(var(--headerHeight) * 0.577 + calc(var(--headerHeight) * 0.1));
    grid-column: 3;
    overflow: visible;
}

#header > .divider > line {
    stroke: var(--brandRed);
    stroke-width: calc(var(--headerHeight) * 0.1);
}

#currentPage {
    background: var(--brandRed);
    height: calc(var(--headerHeight) * 0.67);
    line-height: calc(var(--headerHeight) * 0.67);
    clip-path: polygon(0% 100%, calc(100% - var(--headerHeight) * 0.67 * 0.577) 100%, 100% 0%, calc(var(--headerHeight) * 0.67 * 0.577) 0%);
    padding: 0 calc(var(--headerHeight) * 0.5);
    font-size: calc(var(--headerHeight) * 0.5);
    margin: calc(var(--headerHeight) * 0.167) 0;
    font-weight: bold;
}

#menuButton {
    position: relative;
    width: calc(var(--headerHeight) * 0.67);
    height: calc(var(--headerHeight) * 0.67);
    margin: calc(var(--headerHeight) * 0.167);
}

#menuButton::before {
    z-index: 30;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--brandWhite);
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 20%, 0% 40%, 100% 40%, 100% 60%, 0% 60%, 0% 80%, 100% 80%, 100% 100%, 0% 100%);
}

#menuButton::after {
    z-index: 30;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#menu {
    position: fixed;
    height: 100vh;
    z-index: 20;
    border-left: calc(var(--headerHeight) * 0.05) solid var(--brandBlue);
    background: var(--menuBackground);
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    cursor: auto;
}

#body > div::before, #menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("hexapattern.png");
    background-repeat: repeat;
    background-position-x: center;
    background-size: calc(var(--headerHeight) * 1.33);
    -webkit-mask-image: linear-gradient(180deg, transparent 0%, black 100%);
    mask-image: linear-gradient(180deg, transparent 0%, black 100%);
    opacity: 0.15;
    pointer-events: none;
}

#body > div::after, #menu::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("hexagloss.png");
    background-repeat: repeat;
    background-position-x: center;
    background-size: calc(var(--headerHeight) * 1.33);
    -webkit-mask-size: auto 1500%;
    mask-size: auto 15  00%;
    -webkit-mask-image: linear-gradient(165deg, transparent 47.5%, black 50%, transparent 52.5%);
    mask-image: linear-gradient(165deg, transparent 47.5%, black 50%, transparent 52.5%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-animation: gloss 15s linear infinite;
    animation: gloss 15s linear infinite;
    opacity: 0.25;
    pointer-events: none;
}

@-webkit-keyframes gloss {
    0% {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
        opacity: 0.25;
    }
    75% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
        opacity: 0;
    }
    100% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
        opacity: 0;
    }
}

@keyframes gloss {
    0% {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
        opacity: 0.25;
    }
    75% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
        opacity: 0;
    }
    100% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
        opacity: 0;
    }
}

#menuButton:hover #menu, #menu:hover, #menuButton:active #menu, #menu:active {
    transform: translateX(0%);
}

#menuLinks {
    display: grid;
    padding: var(--headerHeight) calc(var(--headerHeight) * 1.5);
    padding-right: 0;
}

#menuLinks > * {
    z-index: 25;
    grid-column: 1;
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, calc(var(--headerHeight) * 0.577) 0%);
    padding: 0 calc(var(--headerHeight) * 0.5);
    font-size: calc(var(--fontSize) * 0.5);
    margin: calc(var(--headerHeight) * 0.167) 0;
    margin-right: calc(var(--headerHeight) * -1);
    padding-right: calc(var(--headerHeight) * 1.5);
    transition: background-color 0.5s, transform 0.5s;
    cursor: pointer;
}

#menuLinks > *:hover, #menuLinks > *:active {
    transform: translateX(calc(var(--headerHeight) * -0.5));
    background-color: rgba(var(--brandRedRGB), 0.5);
}

.currentLink {
    background: var(--brandRed);
    font-weight: bold;
    transform: translateX(calc(var(--headerHeight) * -1)) !important;
    background-color: var(--brandRed) !important;
}

#body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--headerHeight);
    
    width: min(calc(100vw - var(--headerHeight)), 150vh);
    margin: auto;
    padding: var(--headerHeight) calc(var(--headerHeight) / 4);
    max-width: 70vmax;
}

#body > * {
    min-width: min(90vw, 60vh);
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    background-color: var(--blackBackground);
}

#body > .narrow {
    min-width: min(60vw, 40vh) !important;
}

#body > * > div {
    position: relative;
    max-width: calc(100% - var(--headerHeight) * 2);
    z-index: 1;
    padding: calc(var(--headerHeight) * 0.5) var(--headerHeight);
}

#body > .wide {
    flex-basis: 100% !important;
}

.links {
    min-width: max-content !important;
    padding: calc(var(--headerHeight) / 10);
    text-align: center;
}

@-webkit-keyframes beat {
    0%
    {
        box-shadow: 0 0 0 0 rgba(var(--brandBlueRGB), 0.5), 0 0 0 0 rgba(var(--brandBlueRGB), 0.5);
    }
    33%
    {
        box-shadow: 0 0 0 calc(var(--brandBlueRGB) * 0.167) rgba(var(--brandBlueRGB), 0.33), 0 0 0 0 rgba(var(--brandBlueRGB), 0.5);
    }
    100% {
        box-shadow: 0 0 0 calc(var(--brandBlueRGB) * 0.5) rgba(var(--brandBlueRGB), 0), 0 0 0 calc(var(--headerHeight) * 0.5) rgba(var(--brandBlueRGB), 0);
    }
}

@keyframes beat {
    0%
    {
        box-shadow: 0 0 0 0 rgba(var(--brandBlueRGB), 0.5), 0 0 0 0 rgba(var(--brandBlueRGB), 0.5);
    }
    33%
    {
        box-shadow: 0 0 0 calc(var(--headerHeight) * 0.167) rgba(var(--brandBlueRGB), 0.33), 0 0 0 0 rgba(var(--brandBlueRGB), 0.5);
    }
    100% {
        box-shadow: 0 0 0 calc(var(--headerHeight) * 0.5) rgba(var(--brandBlueRGB), 0), 0 0 0 calc(var(--headerHeight) * 0.5) rgba(var(--brandBlueRGB), 0);
    }
}

#veins {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    opacity: 0;
}

#veins.load {
    -webkit-animation: fadeIn 0.5s ease-out 0.25s 1 forwards;
    animation: fadeIn 0.5s ease-out 0.25s 1 forwards;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#veins > line {
    stroke-width: calc(var(--headerHeight) * 0.1);
    stroke: var(--brandRed);
}

@-webkit-keyframes veinBeat {
    from
    {
        stroke-width: calc(var(--headerHeight) * 0.1);
        stroke: rgba(var(--brandRedRGB), 0.5);
    }
    to {
        stroke-width: calc(var(--headerHeight) * 0.5);
        stroke: rgba(var(--brandRedRGB), 0) ;
    }
}

@keyframes veinBeat {
    from
    {
        stroke-width: calc(var(--headerHeight) * 0.1);
        stroke: rgba(var(--brandRedRGB), 0.5);
    }
    to {
        stroke-width: calc(var(--headerHeight) * 0.5);
        stroke: rgba(var(--brandRedRGB), 0) ;
    }
}

.beat, #body > *, #veins > line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.beatPlay {
    -webkit-animation-name: beat;
    animation-name: beat;
}

#veins > line.beatPlay {
    -webkit-animation-name: veinBeat !important;
    animation-name: veinBeat !important;
}

.pulseVein {
    -webkit-animation-duration: 0.67s !important;
    animation-duration: 0.67s !important;
    -webkit-animation-delay: 0.33s !important;
    animation-delay: 0.33s !important;
}

.commStatus {
    color: var(--brandRed);
    font-size: var(--fontSize);
    padding: 0;
    margin: 0;
}

.centerV {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex, .pricing {
    display: flex;
    gap: calc(var(--fontSize) * 0.5);
    flex-wrap: wrap;
}

.pricing {
    gap: var(--headerHeight) !important;
    text-align: center;
}

.prices {
    font-weight: bold;
    color: var(--brandRed);
}

.flex > *, .pricing > * {
    flex-grow: 1;
}

mark {
    background-color: transparent;
    font-weight: bold;
    color: var(--brandRed);
}

small {
    font-size: calc(var(--headerHeight) * 0.3);
    color: rgba(var(--brandWhiteRGB), 0.69);
}

.credit {
    position: absolute;
    bottom: 0;
    right: calc(var(--headerHeight) * 0.5);
}

ul.addons > li::marker {
    content: "+ ";
    color: var(--brandRed);
}

ul > li::marker {
    color: rgba(var(--brandWhiteRGB), 0.5);
}

ul > li::marker {
    content: "⬢ ";
}

ul > ul > li::marker {
    content: "⬡ ";
}

.centerDiv {
    position: relative;
    margin: auto;
    width: max-content;
}

img {
    max-width: 80vw;
}

#booLogo {
    max-height: calc(var(--headerHeight) * 3.5);
    max-width: 30vw;
}

#booSection {
    display: grid;
    grid-template-columns: min-content auto;
    gap: var(--headerHeight);
}

#booSection > a {
    grid-column: 1;
    margin: auto;
}

#booSection > span {
    grid-column: 2;
}