body {
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.95) 100%);
    min-height: 100%;
    background-attachment: fixed;
    font-family: Verdana;
    font-size: 2vh;
    margin: 0;
    min-height: calc(100vh - min(2vh, 4vw) - 30px);
    position: relative;
    padding-bottom: calc(min(2vh, 4vw) + 30px);
    max-width: 100vw;
}

.main {
    display: grid;
    background-color: white;
    margin: auto;
    padding: 15px;
    max-width: 100vh;
    min-width: min-content;
}

#header, #footer {
    text-overflow: ellipsis;
    margin: 0;
    background: initial;
    background-color: #ff9eec;
    border: none;
    transition: none;
}

#header h1 {
    font-size: min(3.5vh, 5vw);
    display: inline-block;
}

#header, #header a {
    color: black;
}

#header div {
    width: max-content;
    margin: auto;
}

#header h1 {
    margin: auto;
}

#header h1:nth-of-type(2) {
    -webkit-animation-name: type;
    animation-name: type;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes type {
    from { clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); }
    to { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
}

@keyframes type {
    from { clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); }
    to { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
}

#footer {
    height: max-content;
    padding: 15px 0 15px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: min(2vh, 4vw);
}

#footer, #footer a {
    color: white !important;
}

.title {
    display: block;
    padding: 15px 0 15px 0;
    transition: color 0.25s;
}

.title:hover {
    color: white !important;
}

.separator {
    padding: 0 !important;
    width: 2px;
    min-width: 2px;
    background-color: white;
}

.block {
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.95) 100%);
    margin: 15px;
    padding: 15px;
    color: white;
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.block:hover {
    box-shadow: 10px 10px rgba(255, 60, 215, 0.4);
}

@-webkit-keyframes open1 {
    from {
        clip-path: polygon(0% 50%, 100% 50%, calc(100% - 60px) 50%, 60px 50%);
        margin: 15px -15px;
        padding: 15px 45px;
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 15px;
        padding: 15px;
    }
}

@keyframes open1 {
    from {
        clip-path: polygon(0% 50%, 100% 50%, calc(100% - 60px) 50%, 60px 50%);
        margin: 15px -15px;
        padding: 15px 45px;
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 15px;
        padding: 15px;
    }
}

@-webkit-keyframes open2 {
    from {
        clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
        margin: 15px -15px;
        padding: 15px 45px;
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 15px;
        padding: 15px;
    }
}

@keyframes open2 {
    from {
        clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
        margin: 15px -15px;
        padding: 15px 45px;
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 15px;
        padding: 15px;
    }
}

@-webkit-keyframes open3 {
    from {
        clip-path: polygon(50% 60px, 50% calc(100% - 60px), 50% 100%, 50% 0%);
        margin: -15px 15px;
        padding: 45px 15px;
    }
    to {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        margin: 15px;
        padding: 15px;
    }
}

@keyframes open3 {
    from {
        clip-path: polygon(50% 60px, 50% calc(100% - 60px), 50% 100%, 50% 0%);
        margin: -15px 15px;
        padding: 45px 15px;
    }
    to {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        margin: 15px;
        padding: 15px;
    }
}

@-webkit-keyframes open4 {
    from {
        clip-path: polygon(50% 0%, 50% 100%, 50% calc(100% - 60px), 50% 60px);
        margin: -15px 15px;
        padding: 45px 15px;
    }
    to {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        margin: 15px;
        padding: 15px;
    }
}

@keyframes open4 {
    from {
        clip-path: polygon(50% 0%, 50% 100%, 50% calc(100% - 60px), 50% 60px);
        margin: -15px 15px;
        padding: 45px 15px;
    }
    to {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        margin: 15px;
        padding: 15px;
    }
}

.delay1 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.delay2 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay3 {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.delay4 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > div {
    flex-grow: 1;
}

.grid {
    display: grid;
}

.grid1 {
    grid-column: 1;
}

.grid2 {
    grid-column: 2;
}

.grid1-2 {
    grid-column: 1 / 3;
}

.grid1-4 {
    grid-column: 1 / 5;
}

.grid1-5 {
    grid-column: 1 / 6;
}

.grid5 {
    grid-column: 5;
}

#links {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vh;
    margin: auto;
}

#links div {
    flex-grow: 1;
    position: relative;
    margin: 0 auto;
}

#links a, #links span {
    display: inline-block;
    width: 11em;
}

#links a {
    position: relative;
    z-index: 1;
    padding: 10px 0;
    color: black;
    transition: color 0.5s;
}

#links a:hover {
    color: #ff3cd7;
}

#links span {
    clip-path: polygon(0% 50%, 100% 50%, 75% 50%, 25% 50%);
    transition: clip-path 0.5s;
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.95) 100%);
    position: absolute;
    height: 100%;
}

#links span.hover {
    clip-path: polygon(10% 0%, 90% 0%, 90% 100%, 10% 100%);
}

#links .current > span {
    clip-path: polygon(10% 0%, 90% 0%, 90% 100%, 10% 100%) !important;
}

#links .current > a {
    color: #ff3cd7 !important;
}

a {
    text-decoration: none;
    color: #ff3cd7;
}

h1 {
    font-size: 3.5vh;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 2.5vh;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
}

.nopad {
    padding: 0 !important;
}

hr {
    border: 0;
    height: 2px;
    min-height: 2px;
    background-color: white;
}

#examples {
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#examples > div {
    height: 125vmin;
    max-height: 75vh;
    margin: auto;
    flex-grow: 1;
    margin: 7.5px;
}

#examples > div > div {
    height: 100%;
    width: max-content;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    border: 1px solid #ff3cd7;
    position: relative;
}

#examples .cover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    clip-path: inset(100% 0 0 0);
}

#examples .cover > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#examples .cover > hr {
    border: 0;
    height: 2px;
    background-color: white;
    margin: 0 15px 0 15px;
}

#examples video {
    height: 100%;
}

#examples h1 {
    font-size: 3.5vh;
}

#examples span, #examples p {
    font-size: 2vh;
}

.cover {
    clip-path: inset(100% 0 0 0);
    transition: clip-path 0.5s;
}

.cover.hover {
    clip-path: inset(0% 0 0 0) !important;
}

#pricing {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

#pricing > div {
    padding: 0 25px 25px 25px;
    flex-grow: 1;
}

#features {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

#features > div {
    flex-grow: 1;
}

#features > div.separator
{
    flex-grow: unset;
}

#features ul {
    max-width: max-content;
    text-align: left;
}

#priceHalf::before, #priceFull::before {
    content: "Starting at ";
    font-weight: normal;
    font-size: 2.5vh;
}

#addOns span {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.centerDiv {
    position: relative;
    margin: auto;
    max-width: max-content;
}

#discord {
    text-align: right;
    width: 100%;
    display: inline-block;
}

h1 > a {
    color: inherit;
}

h1 > a:hover {
    color: #ff3cd7;
}

h {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0 0.1em 0 0.1em;
    margin: 0 -0.1em 0 -0.1em;
}

ul > li {
    padding: 0 0 0.5em 0;
}

ul > li::marker {
    font-weight: bold;
    content: "> ";
    color: #ff3cd7;
}

ul > ul > li::marker{
    color: #9effb1 !important;
}

#features td {
    padding: 0 !important;
}

.prices {
    font-weight: bold;
}