@font-face {
    font-family: 'Cascadia Mono';
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url('CascadiaMono.woff2') format('woff2');
}

body {
    background: radial-gradient(#232938, #131416);
    background-attachment: fixed;
    font-family: 'Noto Sans', sans-serif;
    font-size: max(min(2vh, 2em), 1em);
    margin: 0;
    position: relative;
    max-width: 100vw;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #ff3cd7;
}

h1 {
    font-size: max(min(3.5vh, 3.5em), 1.75em);
}

h2 {
    font-size: max(min(3vh, 3em), 1.5em);
}

h3 {
    font-size: max(min(2.5vh, 2.5em), 1.25em);
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
}

h1 > a {
    color: inherit;
}

#playerBody h1 > a {
    color: #ff3cd7 !important;
}

h1 > a:hover {
    color: #ff3cd7;
}

mark {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0 0.1em 0 0.1em;
}

ul > li {
    padding: 0 0 0.5em 0;
}

ul > li::marker {
    font-weight: bold;
    content: "> ";
    color: #ff3cd7;
}

ul > ul > li::marker{
    color: #9effb1 !important;
}

hr {
    border: 0;
    height: 2px;
    min-height: 2px;
    background-color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > div {
    flex-grow: 1;
}

.grid {
    display: grid;
}

.nopad {
    padding: 0 !important;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.centerDiv {
    position: relative;
    margin: auto;
    max-width: max-content;
}

#hexapattern {
    pointer-events: none;
    position: fixed;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-image: url("hexapattern.png");
    background-repeat: repeat;
    background-position-x: center;
    opacity: 0.67;
}

#hexagloss {
    pointer-events: none;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url("hexagloss.png");
    background-repeat: repeat;
    background-position-x: center;
    -webkit-mask-image: linear-gradient(195deg, transparent 40%, black 50%, transparent 60%);
    mask-image: linear-gradient(195deg, transparent 40%, black 50%, transparent 60%);
    -webkit-mask-size: auto 200%;
    mask-size: auto 200%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-animation-name: gloss;
    animation-name: gloss;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes gloss {
    0% {
        -webkit-mask-position: 0 -100%;
        mask-position: 0 -100%;
    }
    30% {
        -webkit-mask-position: 0 200%;
        mask-position: 0 200%;
    }
    100% {
        -webkit-mask-position: 0 200%;
        mask-position: 0 200%;
    }
}

@keyframes gloss {
    0% {
        -webkit-mask-position: 0 -100%;
        mask-position: 0 -100%;
    }
    30% {
        -webkit-mask-position: 0 200%;
        mask-position: 0 200%;
    }
    100% {
        -webkit-mask-position: 0 200%;
        mask-position: 0 200%;
    }
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50vh;
    font-family: 'Cascadia Mono', Consolas, 'Courier New', monospace;
    font-size: min(7vh, 10vw);
}

#loading mark {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loadingCenter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff3cd7;
    clip-path: polygon(50% 88%, 50% 100%, 77% 85%, 77% 54%, 50% 0%, 23% 54%, 23% 85%, 50% 100%, 50% 88%, 33% 79%, 33% 60%, 50% 50%, 50% 38%, 39% 45%, 50% 23%, 61% 45%, 50% 38%, 50% 50%, 67% 60%, 67% 79%);
    -webkit-animation-name: loadCenter;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: loadCenter;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#loadingLeft {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #131416;
    clip-path: polygon(16% 80%, 16% 73%, 13% 71%, 13% 54%, 6% 50%, 13% 45%, 13% 28%, 35% 15%, 39% 6%, 7% 24%, 7% 42%, 0% 46%, 0% 53%, 7% 58%, 7% 75%);
    -webkit-animation-name: loadLeft;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: loadLeft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#loadingRight {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #131416;
    clip-path: polygon(84% 80%, 84% 73%, 87% 71%, 87% 54%, 94% 50%, 87% 45%, 87% 28%, 65% 15%, 61% 6%, 93% 24%, 93% 42%, 100% 46%, 100% 53%, 93% 58%, 93% 75%);
    -webkit-animation-name: loadRight;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: loadRight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes loadCenter {
    0% {
        scale: 1;
    }
    25% {
        scale: 1;
    }
    27.5% {
        scale: 0.9;
    }
    32.5% {
        scale: 1;
    }
    50% {
        scale: 1;
    }
    75% {
        scale: 1;
    }
    77.5% {
        scale: 1.1;
    }
    82.5% {
        scale: 1;
    }
    100% {
        scale: 1;
    }
}

@keyframes loadCenter {
    0% {
        scale: 1;
    }
    25% {
        scale: 1;
    }
    27.5% {
        scale: 0.9;
    }
    32.5% {
        scale: 1;
    }
    50% {
        scale: 1;
    }
    75% {
        scale: 1;
    }
    77.5% {
        scale: 1.1;
    }
    82.5% {
        scale: 1;
    }
    100% {
        scale: 1;
    }
}

@-webkit-keyframes loadLeft {
    0% {
        transform: translateX(-15%);
    }
    25% {
        transform: translateX(-5%);
    }
    27.5% {
        transform: translateX(2.5%);
    }
    32.5% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-10%);
    }
    77.5% {
        transform: translateX(-17.5%);
    }
    82.5% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(-15%);
    }
}

@keyframes loadLeft {
    0% {
        transform: translateX(-15%);
    }
    25% {
        transform: translateX(-5%);
    }
    27.5% {
        transform: translateX(2.5%);
    }
    32.5% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-10%);
    }
    77.5% {
        transform: translateX(-17.5%);
    }
    82.5% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(-15%);
    }
}

@-webkit-keyframes loadRight {
    0% {
        transform: translateX(15%);
    }
    25% {
        transform: translateX(5%);
    }
    27.5% {
        transform: translateX(-2.5%);
    }
    32.5% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(10%);
    }
    77.5% {
        transform: translateX(17.5%);
    }
    82.5% {
        transform: translateX(15%);
    }
    100% {
        transform: translateX(15%);
    }
}

@keyframes loadRight {
    0% {
        transform: translateX(15%);
    }
    25% {
        transform: translateX(5%);
    }
    27.5% {
        transform: translateX(-2.5%);
    }
    32.5% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(10%);
    }
    77.5% {
        transform: translateX(17.5%);
    }
    82.5% {
        transform: translateX(15%);
    }
    100% {
        transform: translateX(15%);
    }
}

#main {
    flex: 1;
    background-color: white;
    margin: auto;
    padding: 15px;
    max-width: 100vh;
    min-width: min-content;
    overflow: hidden;
    transition: clip-path 0.5s;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.maininit {
    clip-path: polygon(50% 0%, 50% 100%, 50% 100%, 50% 0%) !important;
}

#header, #footer {
    margin: 0;
    background: initial;
    background-color: #ff9eec;
    border: none;
    transition: none;
}

#header h1 {
    font-family: 'Cascadia Mono', Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: min(3.5vh, 5vw);
    padding-bottom: min(0.35vh, 0.4vw);
    display: inline-block;
    margin: auto;
    pointer-events: none;
    grid-row: 1;
    grid-column: 2;
}

#header, #header a {
    color: #131416;
}

#header div {
    width: max-content;
    margin: auto;
    pointer-events: none;
    display: grid;
}

#header img {
    grid-row: 1;
    grid-column: 1;
    height: min(4vh, 5.75vw);
    padding-right: min(0.2vh, 0.2875vw);
    display: inline-block;
}

#directory {
    grid-column: 3 !important;
}

#logoSides {
    transition: filter 0.25s;
}

#logoSides.hover {
    filter: brightness(0) invert(1);
}

#footer {
    height: max-content;
    padding: 15px;
    width: calc(100% - 30px);
    font-size: min(2vh, 4vw);
}

#footer, #footer a {
    color: white !important;
}

.title {
    display: block;
    padding: 5px 0;
    transition: color 0.25s;
}

.title:hover {
    color: white !important;
}

.outdated {
    filter: saturate(0.25);
}

#links {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}

#links div {
    flex-grow: 1;
    position: relative;
    margin: 0 auto;
}

#links a, #links span {
    display: inline-block;
    width: 13em;
}

#links a {
    position: relative;
    z-index: 1;
    padding: 10px 0;
    color: black;
    transition: color 0.5s;
}

#links a:hover {
    color: #ff3cd7;
}

#links span {
    clip-path: polygon(0% 50%, 100% 50%, 75% 50%, 25% 50%);
    transition: clip-path 0.5s;
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.95) 100%);
    position: absolute;
    height: 100%;
}

#links span.hover {
    clip-path: polygon(10% 0%, 90% 0%, 90% 100%, 10% 100%);
}

#links .current > span {
    clip-path: polygon(10% 0%, 90% 0%, 90% 100%, 10% 100%) !important;
}

#links .current > a {
    color: #ff3cd7 !important;
}

#pages {
    display: grid;
}

.page {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    height: max-content;
}

.page > div {
    grid-column: 1;
}

.block {
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.95) 100%);
    margin: 15px;
    padding: 15px;
    color: white;
    -webkit-box-shadow: 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
}

img {
    max-width: 80vw;
}

.blockInit {
    display: none !important;
}

.blockLoad {
    clip-path: none !important;
}

.block small, #player small {
    color: grey;
}

.reverse {
    -webkit-animation-direction: reverse !important;
    animation-direction: reverse !important;
}

.block:hover, #player > div > *:hover {
    -webkit-box-shadow: 10px 10px rgba(255, 60, 215, 0.4);
    -moz-box-shadow: 10px 10px rgba(255, 60, 215, 0.4);
    box-shadow: 10px 10px rgba(255, 60, 215, 0.4);
}

@-webkit-keyframes open1 {
    0% {
        display: none !important;
        clip-path: polygon(0% 50%, 100% 50%, calc(100% - 60px) 50%, 60px 50%);
    }
    1%{
        display: initial;
        clip-path: polygon(0% 50%, 100% 50%, calc(100% - 60px) 50%, 60px 50%);
        margin: 15px -15px;
        padding: 15px 45px;
    }
    99% {
        display: initial;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 15px;
        padding: 15px;
    }
    100% {
        display: initial;
        clip-path: polygon(0% 0%, calc(100% + 15px) 0%, calc(100% + 15px) calc(100% + 15px), 0% calc(100% + 15px));
        margin: 15px;
        padding: 15px;
    }
}

@keyframes open1 {
    0% {
        display: none !important;
        clip-path: polygon(0% 50%, 100% 50%, calc(100% - 60px) 50%, 60px 50%);
    }
    1%{
        display: initial;
        clip-path: polygon(0% 50%, 100% 50%, calc(100% - 60px) 50%, 60px 50%);
        margin: 15px -15px;
        padding: 15px 45px;
    }
    99% {
        display: initial;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 15px;
        padding: 15px;
    }
    100% {
        display: initial;
        clip-path: polygon(0% 0%, calc(100% + 15px) 0%, calc(100% + 15px) calc(100% + 15px), 0% calc(100% + 15px));
        margin: 15px;
        padding: 15px;
    }
}

@-webkit-keyframes open2 {
    0% {
        display: none !important;
        clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
    }
    1% {
        display: initial;
        clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
        margin: 15px -15px;
        padding: 15px 45px;
    }
    99% {
        display: initial;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 15px;
        padding: 15px;
    }
    100% {
        display: initial;
        clip-path: polygon(0% 0%, calc(100% + 15px) 0%, calc(100% + 15px) calc(100% + 15px), 0% calc(100% + 15px));
        margin: 15px;
        padding: 15px;
    }
}

@keyframes open2 {
    0% {
        display: none !important;
        clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
    }
    1% {
        display: initial;
        clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
        margin: 15px -15px;
        padding: 15px 45px;
    }
    99% {
        display: initial;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: 15px;
        padding: 15px;
    }
    100% {
        display: initial;
        clip-path: polygon(0% 0%, calc(100% + 15px) 0%, calc(100% + 15px) calc(100% + 15px), 0% calc(100% + 15px));
        margin: 15px;
        padding: 15px;
    }
}

@-webkit-keyframes open3 {
    0% {
        display: none !important;
        clip-path: polygon(50% 60px, 50% calc(100% - 60px), 50% 100%, 50% 0%);
    }
    1% {
        display: initial;
        clip-path: polygon(50% 60px, 50% calc(100% - 60px), 50% 100%, 50% 0%);
        margin: -15px 15px;
        padding: 45px 15px;
    }
    99% {
        display: initial;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        margin: 15px;
        padding: 15px;
    }
    100% {
        display: initial;
        clip-path: polygon(0% 0%, 0% calc(100% + 15px), calc(100% + 15px) calc(100% + 15px), calc(100% + 15px) 0%);
        margin: 15px;
        padding: 15px;
    }
}

@keyframes open3 {
    0% {
        display: none !important;
        clip-path: polygon(50% 60px, 50% calc(100% - 60px), 50% 100%, 50% 0%);
    }
    1% {
        display: initial;
        clip-path: polygon(50% 60px, 50% calc(100% - 60px), 50% 100%, 50% 0%);
        margin: -15px 15px;
        padding: 45px 15px;
    }
    99% {
        display: initial;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        margin: 15px;
        padding: 15px;
    }
    100% {
        display: initial;
        clip-path: polygon(0% 0%, 0% calc(100% + 15px), calc(100% + 15px) calc(100% + 15px), calc(100% + 15px) 0%);
        margin: 15px;
        padding: 15px;
    }
}

@-webkit-keyframes open4 {
    0% {
        display: none !important;
        clip-path: polygon(50% 0%, 50% 100%, 50% calc(100% - 60px), 50% 60px);
    }
    1% {
        display: initial;
        clip-path: polygon(50% 0%, 50% 100%, 50% calc(100% - 60px), 50% 60px);
        margin: -15px 15px;
        padding: 45px 15px;
    }
    99% {
        display: initial;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        margin: 15px;
        padding: 15px;
    }
    100% {
        display: initial;
        clip-path: polygon(0% 0%, 0% calc(100% + 15px), calc(100% + 15px) calc(100% + 15px), calc(100% + 15px) 0%);
        margin: 15px;
        padding: 15px;
    }
}

@keyframes open4 {
    0% {
        display: none !important;
        clip-path: polygon(50% 0%, 50% 100%, 50% calc(100% - 60px), 50% 60px);
    }
    1% {
        display: initial;
        clip-path: polygon(50% 0%, 50% 100%, 50% calc(100% - 60px), 50% 60px);
        margin: -15px 15px;
        padding: 45px 15px;
    }
    99% {
        display: initial;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        margin: 15px;
        padding: 15px;
    }
    100% {
        display: initial;
        clip-path: polygon(0% 0%, 0% calc(100% + 15px), calc(100% + 15px) calc(100% + 15px), calc(100% + 15px) 0%);
        margin: 15px;
        padding: 15px;
    }
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.pricing > div {
    padding: 0 25px 25px 25px;
    flex-grow: 1;
}

.prices {
    font-weight: bold;
}

#features {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

#features > div {
    flex-grow: 1;
}

#features > div.separator
{
    flex-grow: unset;
}

#features ul {
    max-width: max-content;
    text-align: left;
}

#features td {
    padding: 0 !important;
}

#priceHalf::before, #priceFull::before, #priceTrackMatte::before, #priceChibi::before {
    content: "Starting at ";
    font-weight: normal;
    font-size: max(min(2.5vh, 2.5em), 1.25em);
}

td video {
    max-width: 25vh;
    border: 2px solid #ff3cd7;
}

#addOns span {
    font-weight: bold;
}

.angleZ {
    position: relative;
}

.angleZ > span {
    position: absolute;
}

.angleZ > span:first-of-type {
    top: -0.2em;
}

.angleZ > span:last-of-type {
    bottom: -0.2em;
}

#examples {
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#examples > div {
    flex-grow: 1;
    margin: 7.5px;
    min-width: calc(33% - 15px);
}

#examples > div > div {
    width: max-content;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    border: 2px solid #ff3cd7;
    position: relative;
}

#examples video {
    max-height: 20vh;
}

#examples > div > p {
    margin: 0;
}

.partnerLogo {
    max-width: 75%;
    display: block;
    margin: auto;
}

.cover {
    clip-path: inset(100% 0 0 0);
    transition: clip-path 0.5s;
}

.cover.hover {
    clip-path: inset(0% 0 0 0) !important;
}

#discord {
    text-align: right;
    width: 100%;
    display: inline-block;
}

#player {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
}

#player > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    max-height: 80vh;
    width: max-content;
    height: max-content;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: scroll;
    text-align: center;
    background-color: white;
    padding: 15px;
}

#player > div > div:first-of-type {
    margin: 15px;
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.95) 100%);
    height: 60vmin;
    flex-grow: 1;
    transition: box-shadow 0.5s;
    padding: 15px;
}

#player video {
    height: 100%;
    border: 2px solid #ff3cd7;
}

#player > div > div:last-of-type {
    margin: 15px;
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.95) 100%);
    flex-grow: 1;
    width: max-content;
    padding: 15px;
    transition: box-shadow 0.5s;
}

#player > div > div:last-of-type > div > small, #player > div > div:last-of-type > div > ul {
    position: relative;
    width: max-content;
    margin: auto;
    display: block;
}

#player > div > div:last-of-type > div ul {
    text-align: left;
    padding-left: max(min(2vh, 2em), 1em);
}

.videoBody > div:last-of-type {
    display: none !important;
}

ul.addons > li::marker {
    content: "+ ";
}

#playerX {
    position: fixed;
    color: white;
    font-size: 10vmin;
    width: 10vmin;
    line-height: 10vmin;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center;
    transition: color 0.25s;
    transform: rotate(45deg);
}

#playerX:hover {
    color: #ff3cd7;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes openPlayer1 {
    from {
        clip-path: polygon(0% 50%, 100% 50%, calc(100% - 60px) 50%, 60px 50%);
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes openPlayer1 {
    from {
        clip-path: polygon(0% 50%, 100% 50%, calc(100% - 60px) 50%, 60px 50%);
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@-webkit-keyframes openPlayer2 {
    from {
        clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes openPlayer2 {
    from {
        clip-path: polygon(60px 50%, calc(100% - 60px) 50%, 100% 50%, 0% 50%);
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@-webkit-keyframes openPlayer3 {
    fromfrom {
        clip-path: polygon(50% 60px, 50% calc(100% - 60px), 50% 100%, 50% 0%);
    }
    to {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
}

@keyframes openPlayer3 {
    from {
        clip-path: polygon(50% 60px, 50% calc(100% - 60px), 50% 100%, 50% 0%);
    }
    to {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
}

@-webkit-keyframes openPlayer4 {
    from {
        clip-path: polygon(50% 0%, 50% 100%, 50% calc(100% - 60px), 50% 60px);
    }
    to {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
}

@keyframes openPlayer4 {
    from {
        clip-path: polygon(50% 0%, 50% 100%, 50% calc(100% - 60px), 50% 60px);
    }
    to {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
}