
.segment {
    position: absolute;
    left: 50%;
    margin-left: -433.5px;
    margin-top: 10%;
}

#background {
    position: absolute;
    margin: none;
    width: 100%;
}

#screen {
    mix-blend-mode: overlay;
    position: absolute;
    width: 100%;
    height: 200%;
    background-repeat: repeat;
    background-image: url("screen.png");
}

#text {
    mix-blend-mode: color-dodge;
}

body{
    margin: 0px;
    background-color: #FCD5DB;
}