
.segment {
    position: absolute;
    left: 50%;
    margin-left: -433.5px;
    margin-top: 10%;
}

#background {
    position: absolute;
    margin: none;
    width: 100%;
}

#screen {
    mix-blend-mode: overlay;
    position: absolute;
    width: 100%;
    height: 200%;
    background-repeat: repeat;
    background-image: url("screen.png");
}

#screenEffect {
    mix-blend-mode: overlay;
    position: absolute;
    width: 100%;
    height: 200%;
    background-repeat: repeat;
    background-image: url("screenEffect.png");
    mask-size: auto 200%;
    mask-image: linear-gradient(transparent 45%, black 50%, transparent 55%);
}

#text {
    mix-blend-mode: color-dodge;
}

body{
    margin: 0px;
    background-color: #FCD5DB;
}

#hover {
    position: absolute;
    outline: 5px solid #87006F;
}

@font-face {
    font-family: "Shock Mint Fund";
    src: url("Shock Mint Fund.woff");
}

@font-face {
    font-family: "Gameplay";
    src: url("Gameplay.woff");
}

#hover h1 {
    background-color: #B75275;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Shock Mint Fund";
    text-align: center;
    color: #8AD3E2;
    -webkit-text-stroke: 2px white;
    outline: 3px solid #87006F;
}

#hover p {
    background-color: #FFC9D4;
    margin: 0px;
    padding: 10px;
    font-family: "Gameplay";
    color: white;
    font-size: 18px;
}

#console {
    font-family: "Inconsolata";
    font-size: 32px;
    position: absolute;
    margin: 16px;
}

.user {
    color: #87006F;
}

.consoleTilde {
    color: #8AD3E2;
}